.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.diagram-container {
    margin: 20px auto;
}

.diagram {
    width: 80%;
    height: auto;
}

.table-container {
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}